*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos para filas */
.row {
    max-width: 800px;
    margin: 0 auto;
}


/* Estilos para pie de página */
footer
{
    background-color: #333;
    color: #fff;
}

/* Estilos para el logo */
#logo
{
    border-radius: 10px;
    width: 38px;
    height: 38px;
    transition: 0.3s;
    transition-duration: 1s;
}

.logoLabel
{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoLabel:hover #logo
{
    background-color: #ff0033;
    transition: 0.1s;
}


header label
{
    color: white;
    font-size: 25px;
    margin-left: 8px;
}

#logo img
{
    width: 40px;
    height: 40px;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 5px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a
{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.fondoHeader
{
    position: relative;
    background-color: #333;
    box-shadow: 0px 0px 3px 3px #333;
    z-index: 9;
}

nav a .cajaImg
{
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-image 0.3s;
}

nav a:nth-child(1) .cajaImg
{
    background-image: url(../imagenes/ancla/grupoAzul.png);
    transition: background-image 0.3s;
    transition-delay: 0.1s;
}
nav a:nth-child(2) .cajaImg
{
    background-image: url(../imagenes/ancla/productosAzul.png);
    transition: background-image 0.3s;
    transition-delay: 0.1s;
}
nav a:nth-child(3) .cajaImg
{
    background-image: url(../imagenes/ancla/contactoAzul.png);
    transition: background-image 0.3s;
    transition-delay: 0.1s;
}
nav a:nth-child(1):hover .cajaImg
{
    background-image: url(../imagenes/ancla/grupoClaro.png);
    transition: background-image 0.3s;
    transition-delay: 0s;
}
nav a:nth-child(2):hover .cajaImg
{
    background-image: url(../imagenes/ancla/productosClaro.png);
    transition: background-image 0.3s;
    transition-delay: 0s;
}
nav a:nth-child(3):hover .cajaImg
{
    background-image: url(../imagenes/ancla/contactoClaro.png);
    transition: background-image 0.3s;
    transition-delay: 0s;
}

.fondoMain
{
    background-color: #878787;
}

article .centrado
{
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    background-color: #616161;
    padding: 20px;
}

article h1 {
    font-size: 2.5em;
    color: white;
    margin-bottom: 20px;
}

article h2
{
    font-family: 'titulos';
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

article h3 {
    font-family: 'parrafos';
    font-size: 18px;
    line-height: 1.5em;
    letter-spacing: 1.3px;
    font-weight: 100;
    color: white;
    margin-bottom: 10px;
}

article div
{
    display: flex;
    align-items: center;
}

article form div
{
    display: grid;
}

article label
{
    display: flex;
    display: inline-block;
}

article p
{
    font-size: 20px;
    color: white;
    font-family: 'parrafos';
    letter-spacing: 1.3px;
    font-weight: 100;
    margin-left: 50px;
}

article h6
{
    font-size: 18px;
    color: white;
    line-height: 1.5em;
    letter-spacing: 1.3px;
    font-family: 'parrafos';
    font-weight: 100;
}

article h4
{
    color: white;
    font-family: 'parrafos';
    letter-spacing: 1.2px;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 1.5em;
}

article h5
{
    display: inline-block;
    color: yellow;
    font-family: 'parrafos';
    letter-spacing: 1.2px;
    font-size: 20px;
    font-weight: 300;
}

form
{
    border-radius: 20px;
    background-color: #333333;
    padding: 15px;
    box-shadow: 0px 0px 3px 3px #333333;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #616161;
}

main label, article label
{
    color: white;
    font-family: 'parrafos';
    font-size: 15px;
    letter-spacing: 1px;
}

main input, article input
{
    border-radius: 20px;
    width: 80px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    border: 3px orange solid;
    margin-top: 5px;
    margin-bottom: 5px;
}

main input:focus, article input:focus
{
    border: 3px green solid;
}

main button
{
    border-radius: 20px;
    width: 80px;
    height: 40px;
    text-align: center;
    font-size: 17px;
    margin-top: 10px;
    font-family: 'parrafos';
}

article button
{
    border-radius: 20px;
    width: 80px;
    height: 40px;
    text-align: center;
    font-size: 17px;
    margin-top: 10px;
    font-family: 'parrafos';
    cursor: pointer;
}

main #clear-btn
{
    position: relative;
    left: 500px;
}


.main {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #616161;
}

.caja {
    width: 250px;
    max-width: 100%;
    height: 350px;
    margin: 10px;
    transition: transform 0.3s;
    border-radius: 10px;
}

.caja h2
{
    text-align: center;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

a .caja .aux
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a .caja .aux .cajaImg
{
    width: 170px;
    height: 170px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-image 0.3s;
}

a:nth-child(1) .caja .aux .cajaImg
{
    background-image: url(../imagenes/ancla/presupuestoOscuro.png);
    transition: background-image 0.3s;
    transition-delay: 0.1s;
}
a:nth-child(2) .caja .aux .cajaImg
{
    background-image: url(../imagenes/ancla/dineroProductoOscuro.png);
    transition: background-image 0.3s;
    transition-delay: 0.1s;
}

a:nth-child(1):hover .caja .aux .cajaImg
{
    background-image: url(../imagenes/ancla/presupuestoColor.png);
    transition: background-image 0.3s;
    transition-delay: 0.1s;
}
a:nth-child(2):hover .caja .aux .cajaImg
{
    background-image: url(../imagenes/ancla/dineroProductoColor.png);
    transition: background-image 0.3s;
    transition-delay: 0.1s;
}

.caja:hover {
    transform: translateY(-20px);
}

a
{
    font-family: 'titulos';
    text-decoration: none;
    color: black;
}

a .caja
{
    border-left: 4px black solid;
    border-top: 4px black solid;
}

a:nth-child(1) .caja
{
    background-color: #00cccc;
    transition: 0.4s;
}
a:nth-child(2) .caja
{
    background-color: #00cccc;
    transition: 0.4s;
}
a:nth-child(1):hover .caja
{
    background-color: #ff0033;
    transition: 0.4s;
}
a:nth-child(2):hover .caja
{
    background-color: #ff0033;
    transition: 0.4s;
}

.fondoVideos
{
    background-color: #616161;
}

.fondoVideos .row .videos
{
    text-align: center;
}

.fondoVideos .row .videos video
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

ul li a .cajaImg
{
    width: 30px;
    height: 30px;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-image 0.3s;
}

ul li:nth-child(1) a .cajaImg
{
    background-image: url(../imagenes/ancla/instagramClaro.png);
    transition: background-image 0.3s;
    transition-delay: 0.1s;
}
ul li:nth-child(2) a .cajaImg
{
    background-image: url(../imagenes/ancla/twitterClaro.png);
    transition: background-image 0.3s;
    transition-delay: 0.1s;
}
ul li:nth-child(3) a .cajaImg
{
    background-image: url(../imagenes/ancla/facebookClaro.png);
    transition: background-image 0.3s;
    transition-delay: 0.1s;
}

ul li:nth-child(1):hover a .cajaImg
{
    background-image: url(../imagenes/ancla/instagramColor.png);
    transition: background-image 0.3s;
}
ul li:nth-child(2):hover a .cajaImg
{
    background-image: url(../imagenes/ancla/twitterColor.png);
    transition: background-image 0.3s;
}
ul li:nth-child(3):hover a .cajaImg
{
    background-image: url(../imagenes/ancla/facebookColor.png);
    transition: background-image 0.3s;
}

.fondoFooter {
    background-color: #333;
    color: #fff;
}

.fondoFooter h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.fondoFooter p {
    font-size: 1.2em;
    line-height: 1.5em;
}

.redesSociales {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.redesSociales li {
    margin-right: 20px;
}

.redesSociales li:last-child {
    margin-right: 0;
}

.gmail
{
    text-align: center;
    display: block;
}

.gmail a
{
    font-family: 'parrafos';
    text-decoration: none;
    color: #00cccc;
    font-size: 20px;
    letter-spacing: 1.2px;
}

.logoCentro
{
    width: 80px;
    height: 80px;
    background-image: url(../imagenes/ancla/1.1.png);
    background-repeat: no-repeat;
    background-size: 81px;
    position: relative;
    right: 290px;
    top: 25px;
    border-radius: 10px;
    background-color: white;

}

canvas
{
    position: relative;
    z-index: 99;
}

.caja form
{
    background-color: transparent;
    box-shadow: 0px 0px 0px 0px transparent;
    height: 0px;
    position: relative;
    bottom: 24px;
    right: 19px;
}

.caja form input
{
    border-radius: 10px;
    height:350px;
    width: 251px;
    border: 0px transparent solid;
}


@media screen and (max-width: 768px) {
    main
    {
        flex-direction: column;
        text-align: center;
    }
    video
    {
        width: 360px;
        height: 200px;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }

    article div
    {
        display: grid;

    }

    article p
    {
        font-size: 20px;
        color: white;
        font-family: 'parrafos';
        letter-spacing: 1.3px;
        font-weight: 100;
        margin-left: 0px;
        margin-top: 50px;
    }

    form
    {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    article .centrado
    {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    article input
    {
        width: 30%;
        margin: auto;
    }

    article label
    {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .logoCentro
    {
        right: 0px;
        top: -163px;
    }

    .caja form
    {
        background-color: transparent;
        box-shadow: 0px 0px 0px 0px transparent;
        height: 0px;
        position: relative;
        top: -9px;
        right: 19px;
    }
    
}

@font-face {
    font-family: 'titulos';
    src: url('../tipos_de_letra/MelodySouthern.otf');
}
@font-face {
    font-family: 'parrafos';
    src: url('../tipos_de_letra/coolvetica_rg.otf');
}